---
export interface Props {
	title: string,
	description?: string,
	alternative?: boolean
}

const {title, description, alternative = false} = Astro.props
---

<div class={`box-card${alternative ? ' alternative-box' : ''}`}>
	{description && (
            <p class="box-card-content">
                "{description}"
            </p>
	)}
    <h1 class="box-card-header">
		{title}
    </h1>
</div>