---
import {Picture} from '@astrojs/image/components'

export interface Props {
	image: string,
	content: string,
	inverse: boolean
}

const {content, image, inverse = false} = Astro.props
---
<div class="w-full flex flex-col md:flex-row items-center justify-around py-6 px-3 md:px-12 gap-x-6 gap-y-4">
    <div class={`order-2 ${inverse ? 'md:order-2' : 'md:order-1'} w-full max-w-4xl`}>
        <h3 class={`text-xl ${inverse ? 'text-right' : 'text-left'} md:text-2xl lg:text-3xl text-white font-light italic leading-loose`}>
			{content}
        </h3>
    </div>
    <div class=`order-1 ${inverse ? 'md:order-1 justify-start' : 'md:order-2 justify-end'} grow flex`>
        <slot />
    </div>
</div>