---

---
<form class="w-full flex-wrap items-center bg-yellow-600 py-12 px-4 md:px-12 flex gap-y-4">
    <h3 class="grow font-serif text-3xl">Subscribe and get a free cookie!</h3>
    <div class="w-full lg:w-5/12 flex flex-col lg:flex-row gap-x-2 gap-y-2">
        <input class="grow bg-zinc-900 border border-zinc-800 text-gray-800 text-sm rounded-lg p-2.5" aria-label="Email Address" placeholder="Your email address..." required="" type="email">
        <button class="btn btn-black justify-center" type="submit">Suscribe</button>
    </div>
</form>