<footer class="w-full bg-zinc-900 py-12 px-2 md:px-6 flex flex-col items-center gap-y-4">
    <div class="w-full max-w-sm flex flex-col items-center justify-center text-white gap-y-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 icon icon-tabler icon-tabler-cup" viewBox="0 0 24 24"
             stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 11h14v-3h-14z"></path>
            <path d="M17.5 11l-1.5 10h-8l-1.5 -10"></path>
            <path d="M6 8v-1a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v1"></path>
            <path d="M15 5v-2"></path>
        </svg>
        <h1 class="font-serif text-xl text-yellow-600">Another Coffee, another day.</h1>
        <div class="flex gap-x-5">
            <a class="p-2 rounded-full hover:bg-yellow-600 transition-colors ease-in-out duration-300"
               href="https://facebook.com" target="_blank" aria-label="facebook link">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 icon icon-tabler icon-tabler-brand-facebook"
                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
                </svg>
            </a>
            <a class="p-2 rounded-full hover:bg-yellow-600 transition-colors ease-in-out duration-300"
               href="https://instagram.com" target="_blank" aria-label="instagram link">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 icon icon-tabler icon-tabler-brand-instagram"
                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    <path d="M16.5 7.5l0 .01"></path>
                </svg>
            </a>
            <a class="p-2 rounded-full hover:bg-yellow-600 transition-colors ease-in-out duration-300"
               href="https://twitter.com" target="_blank" aria-label="twitter link">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 icon icon-tabler icon-tabler-brand-twitter"
                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"></path>
                </svg>
            </a>
        </div>
    </div>
</footer>
<footer class="bg-zinc-900 py-3 flex justify-center">
    <h1 class="text-white">Made with ❤️ by <a class="underline" href="https://github.com/Nefonfo">Nefonfo</a></h1>
</footer>